// bower:scss
// endbower

// global
@function ml($n){ 
  @return ($n / 1040)*100%;
};
@function m958($n){ 
  @return ($n / 958)*100%;
};
@function m2($n,$m){ 
  @return ($n / $m)*100%;
};
// color
$bgc_gray :#d5d1ce;
$gray :#e9e8e7;
$orange :#f36633;
$link:#72635d;
a{text-decoration: none;color: #333;}
@font-face {
  font-family:'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.gicon {
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// clear
.clear:after {content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
.clear{zoom:1;}
// css
body {
  background-color: #f0efed;
  font-family:"Hiragino Sans GB","Lucida Grande",Microsoft YaHei,arial;
  color: #333;
  padding-top:5px;
}
.bd{
  background-color: #FFF;
  box-shadow: 0 0 6px 0 #ccc;
  max-width: 1040px;
  margin: 0 auto;
}

.g-t{
  position: relative;

  img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
  .logo{
    @extend .clear;
    padding-top:43px;
    padding-bottom:15px;
    position:relative;
  }
  .u-logo{
    margin-left:ml(40);
    width: ml(165);
  }
  .u-logo2{
    position:absolute;
    bottom:20px;
    right:ml(40);
    width: ml(119);
  }
}
.m-navbar{
  @extend .clear;
  height:40px;
  line-height: 40px;
  background-color: $bgc_gray;
  .m-dpd{
    @extend .clear;
    display:none;
    position:absolute;
    background-color: $orange;
    width: 435px;
    ul{list-style: none;}
    li{
      float: left;
      width: 29%;
      margin: 2% 0;
      text-align: left;
      text-indent:10px;
      a{
        color: #fff;
        height:30px;
        line-height: 30px;
        display:block;
        &:hover{background-color: #cc6540}
      }

    }
  }
  .m-nav{
    float:left;
    padding-left:ml(40);
    width: ml(711);
    .u-nav{
      position: relative;
      float: left;
      width:25%;
      text-align: center;
      color: #000;
      &>a{
        color:$link;
      }
    }
    .u-nav2 a:after{
      content:"";
      display:inline-block;
      position:absolute;
      width:0;
      height: 0;
      top:50%;
      margin-top: -2px;
      margin-left: 5px;
      border:5px solid #72635d;
      border-color:#72635d transparent transparent transparent;
    }
    .hover a:after{
      border-top-color: #fff;
    }
    .active{
      a{color:$orange;}
    }
    .hover{
      background-color: $orange;
      &>a{
        color:#fff;
      }
    }
    .u-nav>a{
      display:block;
      width: 100%;
      height: 40px;

    }
  }
  .m-sch{
    float:left;
    position:relative;
    width: ml(232);
    height:30px;
    margin-top: 5px;
    margin-left: ml(17);
    padding-right: 30px;
    box-sizing:border-box;
    .search{
      width: 100%;
      height:28px;
      line-height: 28px;
      text-indent: 5px;
      border: #8f837e 1px solid;
      border-right:0;
      border-radius:2px 0 0 2px;
      padding: 0;
      vertical-align: top;
    }
    .search-btn{
      position:absolute;
      right:0;
      top:0;
      width: 30px;
      height: 30px;
      border: 0;
      padding: 0;
      background-color: $orange;
      .search-icon{
        @extend .gicon;
        text-align: center;
        font-size: 1.25em;
        padding:0;
        border:0;
        margin:0;
        color:#fff;
        line-height: 30px;
        &:before{
          content: "\e003";
        }
      }
    }
  }

  .topbar{
    background: url(../images/topbar_bg.jpg) no-repeat right top;
    position: absolute;
    right:0;
    top: 0;
    height: 43px;
    font-size:.75em;
    line-height:1.5em;
    padding-right: ml(40);
    .serve{
      background-color: $orange;
      display:inline-block;
      color: #fff;
      padding:2px 5px;
    }
    .wc{
      display: inline-block;
      margin-left: 10px;
      img{
        width:16px;
        height: 10px;
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }

}

.m-bn{
  @extend .clear;
  margin:32px auto 0;
  width: ml(958);
  position: relative;
  .sld{
    width: m958(710);
    img{
      vertical-align:middle;
    }
  }
  .us{
    width: m958(230);
    position:absolute;
    right: 0;
    top:0;
    background-color: $gray;
    height: 100%;
    .bar{
      background-color: $orange;
      color: #fff;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 5px;
      h2{
        margin: 0;
        font-size: 1em;
      }
      p{
        font-size:.75em;
        margin:5px 10px 0;
      }
    }  
    .fm{
      margin:18px 15px;
      .u-input{
        margin-bottom:9px;
        width:100%; 
      }
      .remenber{
        float: left;
        font-size: .75em;
        a{
          color: $link;
        }
      }
      .forget{
        text-decoration: underline;
        float: right;
        font-size: .75em;
        a{
          color: $orange;
        }
      }
      .login-btn{
        position: absolute;
        left:15px;
        bottom:18px;
        width: m2(90,230);
        font-size: .8125em;
        a{
          display: block;
          background-color: $orange;
          text-align: center;
          height: 30px;
          line-height: 30px;
          color: #fff;
        }
      } 
      .reg-btn{
        position:absolute;
        right:15px;
        bottom:18px;
        width: m2(90,230);
        font-size: .8125em;
        a{
          display: block;
          background-color: #a39a96;
          text-align: center;
          height: 30px;
          line-height: 30px;
          color: #fff;
        }
      }
    }
  }
}
.u-input{
  border: #929292 solid 1px;
  color: #929292;
  height: 28px;
  line-height: 28px;
  text-indent: 5px;
  border-radius: 2px;
}


